@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

nav.navbar.navbar-default .container {
  padding: 0px 70px;
}
nav.navbar.navbar-default .mailicon {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url("http://www.ment.com.tw/themes/zh-tw/assets/images/header_social_ml.png");
}
nav.navbar.navbar-default a {
  color: black;
  transition: 0.5s;
}
nav.navbar.navbar-default a:hover {
  color: #111;
}
nav.navbar.navbar-default a .fbicon {
  position: absolute;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

section {
  padding: 80px 0px;
  word-wrap: break-word;
}
section .section-heading {
  font-size: 36px;
  margin-top: 0px;
}
section .section-subheading {
  font-size: 24px;
}

section#profile {
  background-color: #eee;
}
section#profile .icon-sea {
  width: 80px;
  margin-bottom: 20px;
}
section#profile .profile-img {
  position: relative;
  right: 100px;
  width: 130%;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 25px;
}

section#exp {
  position: relative;
  background-image: url("");
}
section#exp .hidden {
  visibility: hidden;
}
section#exp .line_vertical {
  position: absolute;
  margin: auto;
  padding: 0;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  background-color: #aaa;
  overflow: hidden;
}
section#exp .anismokefly {
  animation: smokefly 6s 1 ease-in;
}
@keyframes smokefly {
  0% {
    opacity: 0;
    top: 340px;
    height: 20px;
  }
  25% {
    top: 200px;
    height: 130px;
  }
  40% {
    top: 180px;
    height: 180px;
  }
  50% {
    top: 180px;
    height: 180px;
  }
  100% {
    opacity: 0.7;
    top: 180px;
  }
}
section#exp .aniboxline {
  animation: boxline 6s 1 ease-in;
}
@keyframes boxline {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section#exp .boxview {
  position: relative;
  margin: auto;
  padding: 0;
  width: 20px;
  height: 1500px;
  background-color: transparent;
}
section#exp .boxview .line_horizontal:after {
  position: absolute;
  content: "●";
  color: #aaa;
  top: -9px;
  animation: boxline 6s 1 ease-in;
}
section#exp .boxview .left {
  text-align: left;
  position: absolute;
  top: 160px;
}
section#exp .boxview .left .box {
  padding: 30px;
  width: 400px;
  position: relative;
  right: 100%;
}
section#exp .boxview .left .line_horizontal {
  position: absolute;
  top: 0px;
  left: calc(100% - 70px);
  width: 70px;
  height: 2px;
  background-color: #aaa;
}
section#exp .boxview .left .line_horizontal:after {
  left: -3px;
}
section#exp .boxview .left .line_horizontal h3 {
  position: absolute;
  top: -30px;
  right: calc(100% + 30px);
}
section#exp .boxview .right {
  text-align: left;
  position: absolute;
  top: 2px;
}
section#exp .boxview .right .box {
  padding: 30px;
  width: 400px;
  position: relative;
  right: -20px;
}
section#exp .boxview .right .line_horizontal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  height: 2px;
  background-color: #aaa;
}
section#exp .boxview .right .line_horizontal:after {
  right: -3px;
}
section#exp .boxview .right .line_horizontal h3 {
  position: absolute;
  top: -30px;
  left: calc(100% + 30px);
}
section#exp .boxview .right .firstbox {
  animation: none;
}
section#exp .boxview .right .firstbox .line_horizontal {
  animation: none;
}
section#exp .boxview .right .firstbox .line_horizontal:after {
  animation: none;
}
section#exp .rocket {
  position: absolute;
  left: 50%;
  transform: translateX(-51%);
  width: 150px;
  height: 150px;
}
section#exp .anirocketfly {
  animation: rocketfly 6s 1 ease-in;
}
@keyframes rocketfly {
  0% {
    top: 330px;
  }
  50% {
    top: 330px;
  }
}
section#exp .fire {
  position: absolute;
  left: 50%;
  top: 310px;
  transform: translateX(-50%);
  width: 60px;
  height: 80px;
}
section#exp .somke1 {
  background-image: url("https://c1.staticflickr.com/5/4259/34268020674_b64c1458f6_o.png");
  background-size: 230px 150px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  width: 230px;
  height: 230px;
  opacity: 0.7;
}
section#exp .anismoke1fly {
  animation: smoke1fly 4s 1 ease;
}
@keyframes smoke1fly {
  0% {
    opacity: 0.4;
    top: 230px;
    background-size: 100px 80px;
  }
  100% {
    top: 80px;
    opacity: 0.7;
    background-size: 230px 150px;
  }
}
section#exp .somke2 {
  background-image: url("https://c1.staticflickr.com/5/4227/34268020324_4befab786e_o.png");
  background-size: 180px 100px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;
  left: 45%;
  top: 120px;
  transform: translateX(-50%) rotate(-180deg);
  width: 230px;
  height: 230px;
  opacity: 0.7;
}
section#exp .anismoke2fly {
  animation: smoke2fly 4s 1;
}
@keyframes smoke2fly {
  0% {
    opacity: 0.5;
    left: 50%;
    top: 230px;
    background-size: 80px 60px;
  }
  40% {
    top: 130px;
  }
  60% {
    top: 110px;
  }
  80% {
    background-size: 180px 100px;
    top: 130px;
  }
  100% {
    opacity: 0.7;
    top: 120px;
    background-size: 180px 100px;
  }
}
section#exp .somke3 {
  background-image: url("https://c1.staticflickr.com/5/4227/34268020324_4befab786e_o.png");
  background-size: 180px 120px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;
  left: 53%;
  top: 130px;
  transform: translateX(-50%) rotate(10deg);
  width: 230px;
  height: 230px;
  opacity: 0.7;
}
section#exp .anismoke3fly {
  animation: smoke3fly 4.5s 1;
}
@keyframes smoke3fly {
  0% {
    left: 50%;
    opacity: 0.6;
    top: 230px;
    background-size: 80px 60px;
  }
  40% {
    top: 130px;
  }
  60% {
    top: 150px;
  }
  70% {
    background-size: 180px 120px;
  }
  80% {
    top: 120px;
  }
  100% {
    opacity: 0.7;
    top: 130px;
  }
}
section#portfolio .container {
  padding: 0px 20px;
}
section#portfolio .nav.nav-tabs {
  white-space: nowrap;
  width: 100%;
}
section#portfolio .nav.nav-tabs li {
  display: inline-block;
  float: none;
}
section#portfolio .row {
  position: relative;
  transition: 0.5s;
}
section#portfolio .row .arrow_left, section#portfolio .row .arrow_right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  color: black;
  border: solid 1px black;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateY(-50%);
  cusor: pointer;
}
section#portfolio .row .arrow_left:hover, section#portfolio .row .arrow_right:hover {
  background-color: black;
  color: white;
}
section#portfolio .row .arrow_left {
  left: -50px;
}
section#portfolio .row .arrow_right {
  right: -50px;
}
section#portfolio .youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
section#portfolio #youtubeCover {
  width: 100%;
  height: 0px;
  padding-top: 56%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#portfolio #youtubeCover .ytp-large-play-button-bg {
  transition: 0.3s;
}
section#portfolio #youtubeCover:hover .ytp-large-play-button-bg {
  fill: red;
}
section#portfolio #youtubeCover .ytp-button {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 20%;
  height: 20%;
  top: 46%;
}
section#portfolio .ytPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section#portfolio #yt-with-Cover {
  z-index: -1;
  opacity: 0;
}
section#portfolio #yt-without-Cover {
  z-index: 1;
  opacity: 1;
}
section#portfolio #webCover {
  padding-top: 56%;
  background-size: cover;
}

@media (min-width: 1200px) {
  .nav, p {
    font-size: 18px;
  }

  section#profile .profile-img {
    position: relative;
    right: 150px;
    width: 130%;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 35px;
  }

  section#exp .anismokefly {
    animation: smokefly 6s 1 ease-in;
  }
  @keyframes smokefly {
    0% {
      opacity: 0;
      top: 340px;
      height: 20px;
    }
    25% {
      top: 200px;
      height: 130px;
    }
    40% {
      top: 180px;
      height: 180px;
    }
    50% {
      top: 180px;
      height: 180px;
    }
    100% {
      opacity: 0.7;
      top: 180px;
    }
  }
  section#exp .boxview .left .box {
    width: 480px;
  }
  section#exp .boxview .right .box {
    width: 480px;
  }
  section#exp .line_vertical {
    height: 1600px;
  }
  section#exp .anirocketfly {
    animation: rocketfly 6s 1 ease-in;
  }
  @keyframes rocketfly {
    0% {
      top: 330px;
    }
    50% {
      top: 330px;
    }
  }
}
@media (max-width: 993px) {
  section#profile .profile-img {
    position: relative;
    right: 30px;
    width: 100%;
    height: 80%;
    padding-bottom: 10px;
    padding-top: 35px;
  }

  section#exp .line_vertical {
    left: calc(50% - 208px);
  }
  section#exp .left {
    display: none;
  }
  section#exp .boxview {
    width: 100%;
  }
  section#exp .boxview .right {
    position: relative;
  }
  section#exp .boxview .right .box {
    left: 50%;
    transform: translateX(-50%);
  }
  section#exp .rocket {
    left: calc(50% - 208px);
    transform: translateX(-51.5%);
  }
  section#exp .fire {
    top: 350px;
    left: calc(50% - 208px);
    transform: translateX(-50%);
  }
  section#exp .somke1 {
    left: calc(50% - 208px);
  }
  section#exp .somke2 {
    left: calc(45% - 208px);
  }
  section#exp .somke3 {
    left: calc(53% - 208px);
  }
  section#exp .anismokefly {
    animation: smokefly 6s 1 ease-in;
  }
  @keyframes smokefly {
    0% {
      opacity: 0;
      top: 340px;
      height: 20px;
    }
    25% {
      top: 200px;
      height: 130px;
    }
    40% {
      top: 180px;
      height: 180px;
    }
    50% {
      top: 180px;
      height: 180px;
    }
    100% {
      opacity: 0.7;
      top: 180px;
    }
  }
  section#exp .anirocketfly {
    animation: rocketfly 6s 1 ease-in;
  }
  @keyframes rocketfly {
    0% {
      top: 370px;
    }
    50% {
      top: 370px;
    }
  }
}
@media (max-width: 425px) {
  section#portfolio .swiper-button-prev {
    display: none;
  }
  section#portfolio .swiper-button-next {
    display: none;
  }

  section#exp .line_vertical {
    left: calc(50% - 158px);
  }
  section#exp .boxview .right .box {
    padding-right: 0px;
    width: 300px;
  }
  section#exp .rocket {
    left: calc(50% - 158px);
    transform: translateX(-51.5%);
  }
  section#exp .fire {
    top: 350px;
    left: calc(50% - 158px);
    transform: translateX(-50%);
  }
  section#exp .somke1 {
    left: calc(50% - 158px);
  }
  section#exp .somke2 {
    left: calc(45% - 158px);
  }
  section#exp .somke3 {
    left: calc(53% - 158px);
  }
}
