//- meta(property="og:title", content="萬用工具人")
//- meta(property="og:type", content="website")
//- meta(property="og:url", content="https://codepen.io/nonumpa/full/OmbwaZ/")
//- meta(property="og:image", content="https://i.imgur.com/jYichyn.png")

//***boostrap toggle active -> jquery要在boostrap前include
#app
  nav.navbar.navbar-default.navbar-fixed-top.navbar-top
    .container
      .navbar-header
        a.navbar-brand 萬用工具人
          img(src="https://c1.staticflickr.com/5/4210/34268020514_6bd81107a6_o.png", alt="",style="height:250%;position:relative;bottom:35px;right:55px;")
          h5 
      .navbar-collapse.collapse
        .nav.navbar-nav.navbar-right
          li.active
            a(href="#profile") HOME
          li
            a(href="#portfolio") 作品集
          li
            a(href="#exp") 斌綸編年史
          li
            a.mailicon(href="mailto:acerxp511@msn.com")
          li
            a(href="https://www.facebook.com/profile.php?id=100000395687172" target="_blank")
              img.fbicon(src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_45,h_45,al_c,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.png", alt="")
  section#profile
    .container
      .row
        .col-md-5(data-50="transform: translateX(0px); opacity: 1" data-300="transform: translateX(-300px); opacity: 0" )
          img.profile-img(src="https://c1.staticflickr.com/5/4239/34268020464_22e21b92b5_o.png", alt="")
          //https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/10173814_842857419070773_6948918794639894241_n.jpg?oh=3fa9a89accd5bd844c1fb5905e8062c1&oe=5985860A
        .col-md-7(data-50="transform: translateY(0px)" data-500="transform: translateY(-150px)")
          h2 
            b 我想找的不是工作，是人生。
          br
          p.content 　　我是蘇斌綸，喜歡有趣的人、事、物。 國中時因為接觸到楓之谷很酷炫的外掛，而開始想學程式， 到目前為止的人生都在努力的追求成績與技術...<br>　　大學時在TEDxTaipei年會，還有網路上看到很多跟我年紀相仿的人：為臺灣而教、臺灣吧、阿滴英文、圖文不符、Selfpick...等，他們都在為臺灣社會努力著，我也希望自己能加入他們的行列，但不知道什麼樣的能力才能幫助到他們，所以努力學習各種技能，<b>希望自己能超越小7店員，成為萬用工具人</b>，雖然指導教授是電腦圖學專長，但Android、iOS、Web...等很多程式相關的東西我都有涉略過一點。可是後來才發現，初出茅廬的年輕人想找新創團隊的工作不是很好找，於是先把目標轉向中大型企業，進去之後覺得企業文化和團隊氣氛不是很喜歡，當時萬念俱灰的我，把花光錢當作是一種洩憤，對自己說：「反正微薄的薪水，存一百年也買不到什麼東西，倒不如把錢花光，一些拿去贊助有夢想的人，一些拿去學自己想學的。」我想，在找到自己喜歡的環境之前，也許贊助有夢想的人，才能讓我在庸庸碌碌的人生中感覺到一點救贖吧！
          p
            b 我是蘇斌綸，我想找的不是工作，是人生。<br>我希望被看見的不是我的專業能力，而是我的潛力，還有我面對人生的態度。

  section#portfolio
    h1(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 作品集
    //- h4 作品
    hr
    .container
      .swiper-container.swiper1
        ul.swiper-wrapper.nav.nav-tabs(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          li.swiper-slide.active
            a(data-toggle="tab" @click="setnowtab('web')") 網頁開發(前端)
          li.swiper-slide
            a(data-toggle="tab" @click="setnowtab('game')") 遊戲開發(前端)
          li.swiper-slide
            a(data-toggle="tab" @click="setnowtab('android')") Android App
          li.swiper-slide
            a(data-toggle="tab" @click="setnowtab('cg')") 電腦圖學
          li.swiper-slide
            a(data-toggle="tab" @click="setnowtab('studyproject')") 大學專題
          li.swiper-slide
            a(data-toggle="tab" @click="setnowtab('video')") 影片剪輯
      .swiper-container.swiper2(data-0="transform: translateY(-50px);opacity: 0" data-300="transform: translateY(0px);opacity: 1" )
        .swiper-wrapper
          .swiper-slide(v-for="data in portfolioData1d")
            .col-md-6
              //沒有圖片,直接顯示youtube
              div(v-if="data.coverImg ===''")
                .youtube(v-if="data.youtubeLink !==''", style="display:block")
                  iframe#yt-without-Cover.ytPlayer(:src="data.youtubeLink+'?rel=0'+'&enablejsapi=1'", frameborder="0")
              div(v-else)
                .youtube(v-if="data.youtubeLink !==''")
                  iframe#yt-with-Cover.ytPlayer(:src="data.youtubeLink+'?rel=0'+'&enablejsapi=1'", frameborder="0")
                  #youtubeCover(@click="show", :style="{'background-image': 'url('+data.coverImg+')', 'cursor':'pointer'}")
                    button.ytp-large-play-button.ytp-button
                      svg(height='100%', version='1.1', viewbox='0 0 68 48', width='100%')
                        path.ytp-large-play-button-bg(d='m.66 37.62c0 0 .66 4.7 2.7 6.77 2.58 2.71 5.98 2.63 7.49 2.91 5.43.52 23.1.68 23.12.68 0-1.3e-5 14.29-.02 23.81-.71 1.32-.15 4.22-.17 6.81-2.89 2.03-2.07 2.7-6.77 2.7-6.77 0 0 .67-5.52.67-11.04l0-5.17c0-5.52-.67-11.04-.67-11.04 0 0-.66-4.7-2.7-6.77C62.03.86 59.13.84 57.8.69 48.28 0 34 0 34 0 33.97 0 19.69 0 10.18.69 8.85.84 5.95.86 3.36 3.58 1.32 5.65.66 10.35.66 10.35c0 0-.55 4.5-.66 9.45l0 8.36c.1 4.94.66 9.45.66 9.45z', fill='#1f1f1e', fill-opacity='0.81')
                        path(d='m26.96 13.67 18.37 9.62-18.37 9.55 0-19.17z', fill='#fff')
                        path(d='M45.02 23.46 45.32 23.28 26.96 13.67 43.32 24.34 45.02 23.46z', fill='#ccc')
                div(v-else)
                  a(:href="data.projectLink", target = "_blank")
                    #webCover(:style="{'background-image': 'url('+data.coverImg+')', 'cursor':'pointer','width':'100%','height':'203px'}")
            .col-md-6
              h3 {{data.title}}
              p {{data.description}}
        .swiper-button-prev
        .swiper-button-next
      //- .row(data-0="transform: translateY(-50px);opacity: 0" data-300="transform: translateY(0px);opacity: 1" )
      //-   div(v-if="portfolioData[nowtab].length > 1")
      //-     .arrow_left(@click="delta(-1)")
      //-       i.fa.fa-angle-left
      //-     .arrow_right(@click="delta(1)")
      //-       i.fa.fa-angle-right
      //-   .col-md-6
      //-     //沒有圖片,直接顯示youtube
      //-     div(v-if="portfolioData[nowtab][nowindex].coverImg ===''")
      //-       .youtube(v-if="portfolioData[nowtab][nowindex].youtubeLink !==''", style="display:block")
      //-         iframe#yt-without-Cover.ytPlayer(:src="portfolioData[nowtab][nowindex].youtubeLink+'?rel=0'", frameborder="0")
      //-     div(v-else)
      //-       .youtube(v-if="portfolioData[nowtab][nowindex].youtubeLink !==''")
      //-         iframe#yt-with-Cover.ytPlayer(:src="portfolioData[nowtab][nowindex].youtubeLink+'?rel=0'", frameborder="0")
      //-         #youtubeCover(@click="show", :style="{'background-image': 'url('+portfolioData[nowtab][nowindex].coverImg+')', 'cursor':'pointer'}")
      //-           button.ytp-large-play-button.ytp-button
      //-             svg(height='100%', version='1.1', viewbox='0 0 68 48', width='100%')
      //-               path.ytp-large-play-button-bg(d='m.66 37.62c0 0 .66 4.7 2.7 6.77 2.58 2.71 5.98 2.63 7.49 2.91 5.43.52 23.1.68 23.12.68 0-1.3e-5 14.29-.02 23.81-.71 1.32-.15 4.22-.17 6.81-2.89 2.03-2.07 2.7-6.77 2.7-6.77 0 0 .67-5.52.67-11.04l0-5.17c0-5.52-.67-11.04-.67-11.04 0 0-.66-4.7-2.7-6.77C62.03.86 59.13.84 57.8.69 48.28 0 34 0 34 0 33.97 0 19.69 0 10.18.69 8.85.84 5.95.86 3.36 3.58 1.32 5.65.66 10.35.66 10.35c0 0-.55 4.5-.66 9.45l0 8.36c.1 4.94.66 9.45.66 9.45z', fill='#1f1f1e', fill-opacity='0.81')
      //-               path(d='m26.96 13.67 18.37 9.62-18.37 9.55 0-19.17z', fill='#fff')
      //-               path(d='M45.02 23.46 45.32 23.28 26.96 13.67 43.32 24.34 45.02 23.46z', fill='#ccc')
      //-       div(v-else)
      //-         a(:href="portfolioData[nowtab][nowindex].projectLink", target = "_blank")
      //-           #webCover(:style="{'background-image': 'url('+portfolioData[nowtab][nowindex].coverImg+')', 'cursor':'pointer','width':'100%','height':'203px'}")
      //-   .col-md-6
      //-     h3 {{portfolioData[nowtab][nowindex].title}}
      //-     p {{portfolioData[nowtab][nowindex].description}}


  section#exp(data-0="opacity: 0;" data-300="opacity: 1;")
    h1 斌綸編年史
    //- h4 經歷
    hr
    .container

     .line_vertical
     .boxview
       //- .linecenter
       .left
         .box(v-for="Litem in BioDataLeft")
           .line_horizontal
             h3 {{Litem.timeline}}
           h4.subheading {{Litem.title}}
           //v-html will not escape html tag from vue output
           p(v-html="Litem.content")

       .right
         .box.firstbox
           .line_horizontal
             h3 1993.04~2008.09
           h4.subheading 人生的空窗期
           p 　　在高中以前，基本上每天生活不外乎考試、補習、打電動，對什麼事都不是很在乎，活得還算無憂無慮，但現在回頭看起來，當時就好像沒有目標的行屍走肉，我稱這段時期為<b>人生的空窗期</b>。
         //slice first item because it's showed above
         .box(v-for="Ritem in BioDataRight.slice(1)")
           .line_horizontal
             h3 {{Ritem.timeline}}
           h4.subheading {{Ritem.title}}
           //v-html will not escape html tag from vue output
           p(v-html="Ritem.content")
     img.rocket(src="https://c1.staticflickr.com/5/4197/34268020494_d23b0dc9a4_o.png", alt="")
     img.fire(src="https://c1.staticflickr.com/5/4275/34268020014_025bfde471_o.png", alt="")
     .somke1
     .somke2
     .somke3